*.tmp
*.bak
*.swp
Thumbs.db
$RECYCLE.BIN/
.DS_Store
*.py[co]
*.egg
*.egg-info
dist/
build/
eggs/
pip-log.txt
.coverage
.tox

test_env.bat
test_env2.bat
real_env.bat
test_dist
test_config2.yml
_wdfwd_*
_test_dummy_
config.yml
wdfwd/dist.zip
*.zip
.ropeproject
*.csv
