.*.swp
*.pyc
.cache/
.ropeproject/
*.log
*.*~
*.txt.*
*.zip
*.txt
wdfwd/tests/tpos
wdfwd/build/
wdfwd/dist/
wdfwd/test_dist/
wdfwd/tests/tlog/
_*.yml
config.yml
real_env.bat
test_env.bat
wlog_test.py
tail_kinesis.py
wdfwd/tests/cfg*.yml
*.swo
tmp*
